---
// Component Imports
import Button from "~/components/Button.astro";
import MainLayout from "~/layouts/MainLayout.astro";
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout title="Home Page">
  <div
    id="appleid-signin"
    class="signin-button"
    data-border-radius="50"
    data-color="black"
    data-border="true"
    data-type="sign-in"
  >
  </div>
  <div>HI</div>
</MainLayout>
<script type="text/javascript">
  AppleID.auth.init({
    clientId: "com.aga.webloginIdentifier",
    scope: "name email",
    redirectURI: "https://my-personal-web-astro.vercel.app/callback",
    state: "true",
    usePopup: true,
  });
</script>
<script>
  // Listen for authorization success.
  document.addEventListener("AppleIDSignInOnSuccess", (event) => {
    var token = event.detail.authorization.id_token;
    var result = JSON.parse(base64_url_decode(token.split(".")[1]));
    console.log("RESULT", result.sub);
  });

  // Listen for authorization failures.
  document.addEventListener("AppleIDSignInOnFailure", (event) => {
    // Handle error.
    console.log(event);
  });
  function b64DecodeUnicode(str) {
    return decodeURIComponent(
      atob(str).replace(/(.)/g, function (m, p) {
        var code = p.charCodeAt(0).toString(16).toUpperCase();
        if (code.length < 2) {
          code = "0" + code;
        }
        return "%" + code;
      })
    );
  }
  function base64_url_decode(str) {
    var output = str.replace(/-/g, "+").replace(/_/g, "/");
    switch (output.length % 4) {
      case 0:
        break;
      case 2:
        output += "==";
        break;
      case 3:
        output += "=";
        break;
      default:
        throw "Illegal base64url string!";
    }

    try {
      return b64DecodeUnicode(output);
    } catch (err) {
      return atob(output);
    }
  }
</script>
