
---
const allJobs = await Astro.glob('../content/jobs/*.mdx');
---

{
    allJobs.map((job) => (
        <div>
            <p>{job.frontmatter.year}</p>
            <p set:html = {job.comiledContent()} />
        </div>

        
    ))
}

<div class="job-experiences">

</div>