---
import "~/styles/tailwind.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta property="og:url" content="https://agagene.com/agagene" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/public/sitemap.png" />
    <meta property="og:title" content="AGAGENE" />
    <meta
      property="og:description"
      content="아토피피부염 유전자 검사는 AGAGENE"
    />
    <!-- <meta
      name="appleid-signin-client-id"
      content="com.aga.webloginIdentifier"
    />
    <meta name="appleid-signin-scope" content="name email" />
    <meta
      name="appleid-signin-redirect-uri"
      content="https://my-personal-web-astro.vercel.app/oauth"
    />
    <meta name="appleid-signin-state" content="signin" />
    <meta name="appleid-signin-use-popup" content="true" /> -->
    <script
      type="text/javascript"
      src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"
    ></script>
    <title>{title}</title>
  </head>
  <body>
    <img src="/public/sitemap.png" alt="s" />
    <slot />
  </body>
</html>
